.file-input-layer {
	margin: 8px 0;
	text-align: center;
}

.drop-area {
	padding: 20px 0;
}

.photo-input {
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 264px;
}

.photo-input:active .photo-input-text.button {
	line-height: 50px;
}

.photo-input:hover .button.blue,
.photo-input:active .button.blue {
	background-color: #274bc8;
}

.photo-input input[type="file"] {
	opacity: 0;
	position: absolute;
	top: 0;
	left: -50%;
	width: 150%;
	height: 46px;
	cursor: pointer;
}